"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    fontFamily: "Ubuntu Mono"
    fontSize: 15
    showInvisibles: true
